@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trabajo Práctico N°1</h1>
    <form asp-action="Punto1" asp-controller="Home" method="post">
        <h2>Cuadrado de un número</h2>
        <input type="number" name="numero" value="" />
        <input type="submit" class="btn btn-primary" />
    </form>
    <form asp-action="Punto2" asp-controller="Home" method="post">
        <h2>División</h2>
        Dividendo:<input type="number" name="dividendo" value="" />
        Divisor:<input type="number" name="divisor" value="" />
        <input type="submit" class="btn btn-primary" />
    </form>
    <form asp-action="Punto3" asp-controller="Home" method="post">
        <h2> Listado de Provincias</h2>
        <input id="Submit1" type="submit" value="Mostrar" />
    </form>
    <form asp-action="Punto4" asp-controller="Home" method="post">
        <h2>Consumo del automovil</h2>
        <label for="kilometros">Kilómetros</label>
        <input id="kilometros" type="number" name="kilometros" />
        <label for="litros">Litros </label>
        <input id="litros" type="number" name="litros" />
        <p><input id="Submit" type="submit" value="Calcular" /></p>
    </form>
</div>

